# WAR artifact configuration
WAR_URL=https://get.jenkins.io/war-stable/latest/jenkins.war
WAR_NAME=jenkins.war

# Port mapping (host:container)
APP_PORT=8080
MGMT_PORT=9990

# Logging configuration
APP_LOGS_ROOT_DIR=/opt/jboss/wildfly/custom-logs
APP_LOG_MODE=info
HOST_LOG_DIR=./runtime-logs
